* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    --primary-color: #171100;
    --hover-color: #ffb900;
    --line-clamp: 3;
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* Common */

.content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.row {
    width: 100%;
}

.content,
.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a {
    display: inline-block;
    text-decoration: none;
}

.hero-text-row {
    display: flex;
    align-items: center;
}

.btn {
    color: #fff;
    font-weight: 600;
    padding: 11px 41px;
    line-height: 1.75;
    background: var(--primary-color);
}

.btn:hover {
    background: var(--hover-color);
}

.line-clamp {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--line-clamp);
    overflow: hidden;
}

/* Header */
.header {
    padding-top: 36px;
    background: #fffcf4;
}

.header .navbar {
    display: flex;
}

.header .nav {
    display: flex;
    align-items: center;
}

.header .nav li a {
    padding: 8px 21px;
    color: #5f5b53;
}

/* Hover con thieu gach chan chu */
.header .nav li a:hover {
    color: #171100;
    font-weight: 600;
}

.header .navbar .btn {
    margin-left: 70px;
    border-radius: 24.5px;
}

/* Hero */

.hero {
    display: flex;
    flex-direction: column;
    background: #fffcf4;
}

.hero .content {
    margin-top: 64px;
    margin-bottom: 65px;
}

.hero .image {
    position: relative;
    width: 570px;
}

.hero .image .guy-lesson {
    width: 470px;
    height: 685px;
    border-radius: 20px;
    object-fit: cover;
    object-position: 80%;
}

.hero .hero-text {
    flex: 1;
}

.hero .hero-text {
    margin-left: 130px;
}

.hero .hero-text .title {
    color: #171100;
    font-family: "Sen";
    font-size: 5.8rem;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: -0.116rem;
}

.hero .hero-text .desc {
    margin: 22px 0 38px;
    color: #5f5b53;
    font-size: 1.8rem;
    line-height: 1.67;
}

.hero .hero-text-row .btn {
    padding: 17px 34px;
    border-radius: 32px;
}

.hero .hero-text-row .link-video {
    margin-left: 28px;
    display: flex;
    align-items: center;
}

.hero .link-video .play-icon {
    color: #ffb900;
    background: #fff;
    padding: 12px 14px;
    border-radius: 50%;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
}

.hero .link-video span {
    margin-left: 14px;
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
}

.hero .hero-text .info {
    margin: 48px 0 8px;
    color: #5f5b53;
    font-size: 1.8rem;
    line-height: 1.67;
}

.hero .hero-text-row .value {
    display: flex;
    align-items: baseline;
}

.hero .hero-text-row .value + .value {
    margin-left: 28px;
}

.hero .value .number {
    color: #171100;
    font-family: Sen;
    font-size: 4.4rem;
    font-weight: 700;
}

.hero .value .sub-number {
    color: #5f5b53;

    font-size: 1.8rem;
}

.hero .card {
    position: absolute;
    right: 0;
    bottom: 48px;
    padding: 24px;
    min-width: 222px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.hero .card .course {
    display: flex;
    align-items: center;
}

.hero .card .course + .course {
    margin-top: 14px;
}

.hero .card .text {
    margin-left: 16px;
}

.hero .card .text .sub-title {
    color: #5f5b53;

    font-size: 1.4rem;
    line-height: 1.86;
}

.hero .card .text .title {
    color: #171100;

    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

/* Courses */
.courses .content {
    flex-direction: column;
    margin-top: 200px;
    margin-bottom: 200px;
}

.courses .text {
    width: 458px;
}

.courses .text .title {
    color: #171100;
    font-family: Sen;
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 1.26;
    letter-spacing: -0.076rem;
}

.courses .text .desc {
    margin-top: 16px;
    color: #5f5b53;

    font-size: 1.8rem;
    line-height: 1.67;
}

.courses .icons button {
    font-size: 16px;
    padding: 9px 13px;
    border-radius: 50%;
    cursor: pointer;
    color: #ffb900;
    background: #fff;
    border: 2px solid #ffb900;
}

.courses .icons button:hover {
    color: #fff;
    background: var(--hover-color);
}

.courses button + button {
    margin-left: 20px;
}

.courses .row .list {
    display: flex;
    gap: 30px;
    margin-top: 55px;
}

.courses .design {
    width: 370px;
}

.courses .design .image {
    width: 370px;
    height: 278px;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px;
    background: lightgray 50% / cover no-repeat;
}

.courses .list .design-desc {
    padding: 16px 22px 22px;
    border-radius: 12px;
    box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
}

.courses .design-desc .title,
.courses .design-desc .price {
    color: #171100;

    font-size: 1.8rem;
    font-weight: 600;
}

.courses .design-desc .desc {
    margin-top: 6px;
    margin-bottom: 12px;
    color: #5f5b53;

    font-size: 1.4rem;
    line-height: 1.86;
}

.courses .design-desc .rating {
    display: flex;
    align-items: center;
}

.courses .design-desc .rating span {
    margin-left: 6px;
    color: #fea31b;
}

.courses .design-desc .btn {
    padding: 12px 24px;
    border-radius: 25px;
}

/* Testimonial */
.testimonial {
    background: #2e2100;
}

.testimonial .content {
    padding-top: 124px;
    padding-bottom: 96px;
}

.testimonial .designer-info .avatar {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top center;
}

.testimonial .designer-info .name {
    margin-top: 18px;
    color: #f7f7f7;
    font-family: Sen;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.42;
}

.testimonial .designer-info .desc {
    margin-top: 4px;
    color: #bfbcb2;

    font-size: 1.4rem;
    line-height: 1.86;
}

.testimonial .designer-info {
    flex: 1;
}

.testimonial .famous-quote {
    flex: 2;
    position: relative;
}

.testimonial .famous-quote .quotes {
    position: absolute;
    top: -28px;
    left: -30px;
}

.testimonial .famous-quote p {
    color: #fff;

    font-size: 2.6rem;
    font-style: italic;
    font-weight: 400;
    line-height: 1.54;
}

/* Features */
.features .content {
    flex-direction: column;
    margin-bottom: 200px;
}

.features .row {
    margin-top: 200px;
}

.features .images {
    display: flex;
    position: relative;
    width: 570px;
    height: 438px;
}

.features .images img {
    position: absolute;
    width: 270px;
    height: 404px;
    object-fit: cover;
    border-radius: 16px;
    background: lightgray 50% / cover no-repeat;
}

.features .images img:first-child {
    left: 0;
    bottom: 0;
}

.features .images img:last-child {
    top: 0;
    right: 0;
}

.features .text-1 {
    margin-left: 130px;
    flex: 1;
}

.features .text-2 {
    width: 570px;
}

.features .text-1 .title,
.features .text-2 .title {
    color: #171100;
    font-family: Sen;
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 1.26;
    letter-spacing: -0.076rem;
}

.features .text-1 p,
.features .text-2 p {
    margin: 8px 0;
    color: #5f5b53;

    line-height: 1.75;
}

.features .text-1 .btn,
.features .text-2 .btn {
    margin-top: 24px;
    padding: 11px 37px;
    border-radius: 26px;
}

.features .text-2 .btn {
    padding: 11px 32px;
}

.features .row .img3 {
    margin-left: 130px;
    width: 470px;
    height: 440px;
    object-fit: cover;
    border-radius: 20px;
    background: lightgray 50% / cover no-repeat;
}

/* Our blog */
.our-blog {
    background: #fffcf4;
}

.our-blog .container-blogs {
    width: 100%;
    margin-top: 96px;
    margin-bottom: 96px;
}

.our-blog .container-blogs .title {
    color: #130606;
    text-align: center;
    font-family: Sen;
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 1.26;
    letter-spacing: -0.076rem;
}

.our-blog .container-blogs .desc {
    margin: 16px auto 55px;
    width: 448px;
    color: #696262;
    text-align: center;

    line-height: 1.75;
}

.our-blog .row .blog {
    width: 370px;
    margin-bottom: 38px;
}

.our-blog .row .img {
    width: 370px;
    height: 250px;
    object-fit: cover;
    border-radius: 16px 16px 0px 0px;
    background: lightgray 50% / cover no-repeat;
}

.our-blog .blog .sub-blog {
    padding: 30px 20px 28px;
    border-radius: 16px;
    background: #fff;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.our-blog .blog .date-blog {
    display: flex;
    align-items: center;
    gap: 4px;
}

.our-blog .blog .date-blog .date {
    color: #5f5b53;

    font-size: 1.4rem;
}

.our-blog .sub-blog .horizontal-line {
    margin: 12px 0;
    width: 160px;
    height: 1px;
    flex-shrink: 0;
    border-radius: 0.5px;
    background: #e2dfda;
}

.our-blog .sub-blog .blog-desc {
    margin-bottom: 12px;
    color: #171100;

    font-weight: 600;
    line-height: 1.75;
}

.our-blog .sub-blog .btn {
    padding: 12px 21px;
    border-radius: 25px;
}

/* Footer */
.footer {
    background: #2e2100;
}

.footer .row {
    align-items: flex-start;
    margin-top: 96px;
    padding-bottom: 38px;
    border-bottom: 1px solid #59554b;
}

.footer .row .column:first-child {
    flex: 1.75;
}

.footer .row .column:not(:first-child) {
    flex: 1;
}

.footer .row .column .desc {
    margin: 18px 0;
    width: 267px;
    color: #bfbcb2;

    font-size: 1.4rem;
    line-height: 1.86;
}

.footer .link-brands .icon:first-child {
    margin-left: -8px;
}

.footer .link-brands .icon {
    font-size: 15px;
    color: #fff;
    padding: 8px;
}

.footer .link-brands .icon:hover {
    opacity: 0.7;
}

.footer .column .title {
    color: #fff;

    font-weight: 600;
    line-height: 1.75;
}

.footer .column .horizontal-line {
    margin: 14px 0;
    width: 130px;
    height: 1px;
    flex-shrink: 0;
    background: #59554b;
}

.footer .column .list li {
    color: #fff;

    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.86;
}

.footer .column:last-child li:first-child {
    display: inline-block;
    margin-top: 12px;
}

.footer .column .list a,
.footer .column .list .sub {
    margin-top: 12px;
    color: #bfbcb2;

    font-size: 1.4rem;
    line-height: 1.86;
}

.footer .sub-title {
    padding: 28px 0;
    color: #807d74;
    text-align: center;

    font-size: 1.4rem;
    line-height: 1.86;
}
