* {
    box-sizing: border-box;
}

:root {
    --font-heading: Sen, sans-serif;
    --primary-color: #171100;
    --hover-color: #ffb900;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* Common */

.content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
    overflow: hidden;
}

.row {
    width: 100%;
}

.content,
.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a {
    display: inline-block;
    color: #171100;
    text-decoration: none;
}

.btn {
    color: #fff;
    font-weight: 600;
    padding: 11px 41px;
    line-height: 1.75;
    border-radius: 999px;
    background: var(--primary-color);
}

.btn:hover {
    background: var(--hover-color);
}

.heading {
    color: #171100;
    font-family: var(--font-heading);
    font-weight: 700;
    letter-spacing: -0.116rem;
}

.h1 {
    font-size: 5.8rem;
    line-height: 1.17;
}

.h2 {
    font-size: 3.8rem;
    line-height: 1.26;
    letter-spacing: -0.076rem;
}

.h3 {
    font-family: "Poppins", sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.line-clamp {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--line-clamp, 3);
    overflow: hidden;
}

.line-clamp.line-1 {
    --line-clamp: 1;
}

.line-clamp.line-2 {
    --line-clamp: 2;
}

.break-all {
    word-break: break-all;
}

.dots {
    display: flex;
    gap: 6px;
    margin-top: 28px;
}

.dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #634700;
    cursor: pointer;
}

.dot.active {
    cursor: default;
    background: var(--hover-color) !important;
}

/* Header */
.header {
    padding-top: 28px;
    background: #fffcf4;
    position: sticky;
    top: -28px;
    z-index: 1;
}

.header .navbar {
    display: flex;
}

.header .nav {
    display: flex;
    align-items: center;
}

.header .nav li a {
    position: relative;
    padding: 8px 21px;
    color: #5f5b53;
    line-height: 1.75;
}

.header .nav li.active a::after {
    content: "";
    position: absolute;
    bottom: 10px;
    display: block;
    width: 12px;
    height: 2px;
    border-radius: 1px;
    background: #171100;
}

.header .nav li.active a,
.header .nav li a:hover {
    color: #171100;
    text-shadow: 1px 0px 0px currentColor;
}

.header .navbar .btn {
    margin: 8px 0 8px 49px;
}

/* Hero */

.hero {
    display: flex;
    flex-direction: column;
    background: #fffcf4;
}

.hero .content {
    margin-top: 64px;
    margin-bottom: 65px;
}

.hero .image {
    position: relative;
    width: 570px;
}

.hero .image .guy-lesson {
    width: 470px;
    height: 685px;
    border-radius: 20px;
    object-fit: cover;
    object-position: 80%;
    vertical-align: bottom;
}

.hero .hero-text {
    flex: 1;
}

.hero .hero-text {
    margin-left: 130px;
}

.hero .hero-text .desc {
    margin: 22px 0 38px;
    color: #5f5b53;
    font-size: 1.8rem;
    line-height: 1.67;
}

.hero-text-row {
    display: flex;
    align-items: center;
}

.hero .hero-text-row .hero-btn {
    font-size: 1.8rem;
    padding: 16.25px 34px;
}

.hero .hero-text-row .link-video {
    margin-left: 28px;
    display: flex;
    align-items: center;
}

.hero .link-video .play-icon {
    color: #ffb900;
    background: #fff;
    padding: 11.5px 14px;
    border-radius: 50%;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
}

.hero .link-video span {
    margin-left: 14px;
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
}

.hero .hero-text .info {
    margin: 48px 0 8px;
}

.hero .hero-text .text-row {
    margin: 0 0 0 -28px;
    line-height: 1.22;
}

.hero .text-row .number {
    padding: 0 8px 0 28px;
    color: #171100;
    font-family: var(--font-heading);
    font-size: 4.4rem;
    font-weight: 700;
}

.hero .card {
    position: absolute;
    right: 0;
    bottom: 48px;
    padding: 24px;
    min-width: 270px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.hero .card .course {
    display: flex;
    align-items: center;
}

.hero .card .course + .course {
    margin-top: 14px;
}

.hero .card .text {
    margin-left: 16px;
}

.hero .card .text .sub-title {
    color: #5f5b53;
    font-size: 1.4rem;
    line-height: 1.86;
}

/* Courses */
.courses .content {
    flex-direction: column;
    margin-top: 200px;
    margin-bottom: 200px;
}

.courses .text {
    width: 458px;
}

.courses .text .desc {
    margin-top: 16px;
    color: #5f5b53;
    font-size: 1.8rem;
    line-height: 1.67;
}

.courses .controls {
    display: flex;
    gap: 20px;
}

.courses .control-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: var(--hover-color);
    border: 1px solid var(--hover-color);
    background: transparent;
    cursor: pointer;
}

.courses .controls button:hover {
    color: #fff;
    background: var(--hover-color);
}

/* .courses .controls button {
    font-size: 16px;
    padding: 9px 13px;
    border-radius: 50%;
    cursor: pointer;
    color: #ffb900;
    background: #fff;
    border: 2px solid #ffb900;
}

.courses button + button {
    margin-left: 20px;
} */

.courses .row .list {
    display: flex;
    gap: 30px;
    margin-top: 55px;
}

.courses .design {
    flex: 1;
    border-radius: 12px;
    border: 1px solid #e2dfda;
    background: #fff;
}

.courses .design:hover {
    border-color: transparent;
    box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
}

.courses .design > a {
    width: calc(100% + 2px);
    margin: -1px;
    vertical-align: bottom;
}

.courses .design .image {
    display: block;
    width: 100%;
    height: 278px;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px;
    background: lightgray 50% / cover no-repeat;
}

.courses .list .design-desc {
    padding: 16px 22px 22px;
    border-radius: 0 0 12px 12px;
}

.courses .design-desc .price {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
}

.courses .design-desc .desc {
    margin-top: 6px;
    margin-bottom: 12px;
    color: #5f5b53;
    font-size: 1.4rem;
    line-height: 1.86;
}

.courses .design-desc .rating {
    display: flex;
    align-items: center;
    margin-left: 8px;
}

.courses .design-desc .rating span {
    margin-left: 6px;
    color: #fea31b;
}

.courses .design-desc .courses-btn {
    font-size: 1.4rem;
    padding: 12.75px 24.25px;
}

/* Feedback */
.feedback {
    background: #2e2100;
}

.feedback .content {
    padding-top: 96px;
    padding-bottom: 96px;
}

.feedback .feedback-list {
    display: flex;
    transform: translateX(-100%);
    transition: all ease 0.3s;
}

.feedback .feedback-list .feedback-item {
    flex-shrink: 0;
}

.feedback .designer-info .avatar {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top center;
}

.feedback .designer-info .name {
    margin-top: 18px;
    color: #f7f7f7;
    font-family: var(--font-heading);
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.42;
}

.feedback .designer-info .desc {
    margin-top: 4px;
    color: #bfbcb2;
    font-size: 1.4rem;
    line-height: 1.86;
}

.feedback .designer-info {
    flex: 1;
}

.feedback .famous-quote {
    flex: 2;
    position: relative;
}

.feedback .famous-quote .quotes {
    position: absolute;
}

.feedback .famous-quote p {
    padding: 28px 0 0 30px;
    color: #fff;
    font-size: 2.6rem;
    font-style: italic;
    font-weight: 400;
    line-height: 1.54;
}

/* Features */
.features .content {
    flex-direction: column;
    margin-bottom: 200px;
}

.features .row {
    margin-top: 200px;
}

.features .images {
    display: flex;
    position: relative;
    width: 570px;
    height: 438px;
}

.features .images img {
    position: absolute;
    width: 270px;
    height: 404px;
    object-fit: cover;
    border-radius: 16px;
    background: lightgray 50% / cover no-repeat;
}

.features .images img:first-child {
    left: 0;
    bottom: 0;
}

.features .images img:last-child {
    top: 0;
    right: 0;
}

.features .text-1 {
    margin-left: 130px;
    flex: 1;
}

.features .text-2 {
    width: 570px;
}

.features .text-1 p,
.features .text-2 p {
    margin: 8px 0;
    color: #5f5b53;
    line-height: 1.75;
}

.features .text-1 .btn,
.features .text-2 .btn {
    margin-top: 24px;
    padding: 11px 37px;
}

.features .text-2 .btn {
    padding: 11px 32px;
}

.features .row .img3 {
    margin-left: 130px;
    width: 470px;
    height: 440px;
    object-fit: cover;
    border-radius: 20px;
    background: lightgray 50% / cover no-repeat;
}

/* Our blog */
.our-blog {
    background: #fffcf4;
}

.our-blog .container-blogs {
    width: 100%;
    margin-top: 96px;
    margin-bottom: 96px;
}

.our-blog .container-blogs .title {
    color: #130606;
    text-align: center;
    font-family: var(--font-heading);
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 1.26;
    letter-spacing: -0.076rem;
}

.our-blog .container-blogs .desc {
    margin: 16px auto 55px;
    width: 448px;
    color: #696262;
    text-align: center;
    line-height: 1.75;
}

.our-blog .row .blog {
    width: 370px;
    margin-bottom: 38px;
}

.our-blog .row .img {
    width: 370px;
    height: 250px;
    object-fit: cover;
    border-radius: 16px 16px 0px 0px;
    background: lightgray 50% / cover no-repeat;
}

.our-blog .blog .sub-blog {
    padding: 30px 20px 28px;
    border-radius: 16px;
    background: #fff;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.our-blog .blog .date-blog {
    display: flex;
    align-items: center;
    gap: 4px;
}

.our-blog .blog .date-blog .date {
    color: #5f5b53;
    font-size: 1.4rem;
}

.our-blog .sub-blog .horizontal-line {
    margin: 12px 0;
    width: 160px;
    height: 1px;
    flex-shrink: 0;
    border-radius: 0.5px;
    background: #e2dfda;
}

.our-blog .sub-blog .blog-desc {
    margin-bottom: 12px;
    color: #171100;
    font-weight: 600;
    line-height: 1.75;
}

.our-blog .sub-blog .btn {
    padding: 12px 21px;
}

.our-blog .dots {
    justify-content: center;
    margin-top: 0;
}

.our-blog .dot {
    background: #5f5b53;
}

/* Footer */
.footer {
    background: #2e2100;
}

.footer .row {
    align-items: flex-start;
    margin-top: 96px;
    padding-bottom: 38px;
    border-bottom: 1px solid #59554b;
}

.footer .row .column:first-child {
    flex: 1.75;
}

.footer .row .column:not(:first-child) {
    flex: 1;
}

.footer .row .column .desc {
    margin: 18px 0;
    width: 267px;
    color: #bfbcb2;
    font-size: 1.4rem;
    line-height: 1.86;
}

.footer .link-brands .icon:first-child {
    margin-left: -8px;
}

.footer .link-brands .icon {
    font-size: 15px;
    color: #fff;
    padding: 8px;
}

.footer .link-brands .icon:hover {
    opacity: 0.7;
}

.footer .column .title {
    color: #fff;
    font-weight: 600;
    line-height: 1.75;
}

.footer .column .horizontal-line {
    margin: 14px 0;
    width: 130px;
    height: 1px;
    flex-shrink: 0;
    background: #59554b;
}

.footer .column .list li {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.86;
}

.footer .column:last-child li:first-child {
    display: inline-block;
    margin-top: 12px;
}

.footer .column .list a,
.footer .column .list .sub {
    margin-top: 12px;
    color: #bfbcb2;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.86;
}

.footer .sub-title {
    padding: 28px 0;
    color: #807d74;
    text-align: center;
    font-size: 1.4rem;
    line-height: 1.86;
}
